# .bash_host
if [[ $- == *i* ]]; then
   echo "Initializing with $HOME/.bash_host"
fi
{{- if eq .chezmoi.os "linux" }}
    {{- if (and (hasKey .chezmoi.osRelease "variant") (or (eq .chezmoi.osRelease.variant "Kinoite") (eq .chezmoi.osRelease.variant "COSMIC Atomic"))) }}
alias emacs='flatpak run org.gnu.emacs -nw'
export EDITOR='flatpak run org.gnu.emacs -nw'
alias lights_off='sudo ~/.local/bin/fury-renegade-rgb -b /dev/i2c-0 -1 -3 brightness --value 0'
    {{- end}}
{{- end }}

