# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

# User specific environment
export DEV_DIR={{ .devDir | quote }}
export STOW_DIR="$DEV_DIR/keys"
export GOPATH="$HOME/go"
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
if ! [[ "$PATH" =~ ":$GOPATH/bin" ]]; then
    PATH="$PATH:$GOPATH/bin"
fi
export PATH

if [[ "$container" == "" ]]; then
    # on the host system
    source $HOME/.bash_host
else
    source $HOME/.bash_container
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
    for rc in ~/.bashrc.d/*; do
        if [ -f "$rc" ]; then
            . "$rc"
        fi
    done
fi
unset rc

alias cz=chezmoi

function sync_py() {
    pushd $DEV_DIR/sync &> /dev/null
    python sync.py $@
    popd &> /dev/null
}

ssh-add -l | grep fedora-infinite-darkport-net &> /dev/null || ssh-add ~/.ssh/id_infinite_ed25519
