[user]
	name = Chad Schellenger
{{- if eq .chezmoi.hostname "CHASCHEL-M-JHQX" }}
	email = chaschel@cisco.com
	signingkey = 35A61F8B03925118D3323BB1C2FE68CC1ED37A50
{{ else }}
	email = chad.schellenger@gmail.com
	signingkey = 
{{- end }}
[commit]
	gpgsign = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cs) %C(bold blue)%an <%ae>%Creset' --abbrev-commit
	done = "!f() { ob=$(git branch --show-current); if [[ \"$ob\" != \"main\" ]] && [[ \"$ob\" != \"master\" ]]; then git checkout main || git checkout master; git branch -d $ob; git pull; fi; }; f"
	phead = push -u origin HEAD
	root = rev-parse --show-toplevel
	recent = "branch --color=always -r --sort=-committerdate --format='%(HEAD) %(align:35)%(color:yellow)%(refname:short)%(color:reset)%(end) - %(color:red)%(objectname:short)%(color:reset) - %(align:40)%(contents:subject)%(end) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'"
[pull]
	ff = only
[init]
	defaultBranch = main
{{- if eq .chezmoi.hostname "CHASCHEL-M-JHQX" }}
[url "git@www-github.cisco.com:"]
	insteadOf = https://www-github.cisco.com/
[url "git@www-github3.cisco.com:"]
	insteadOf = https://www-github3.cisco.com/
{{- end }}
[url "git@github.com:"]
	insteadOf = https://github.com/
